@using Radzen.Blazor
@inherits LayoutComponentBase

<RadzenHeader>
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <div class="col-6 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(args => { sidebarExpanded = !sidebarExpanded; bodyExpanded = !bodyExpanded; })">
                </RadzenSidebarToggle>
                <RadzenLabel Text="flexGateway - Dashboard">
                </RadzenLabel>
            </div>
        </div>
    </ChildContent>
</RadzenHeader>

<div style="width:100%;">
    <RadzenBody @ref="@body0" @bind-Expanded="@bodyExpanded">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</div>

<RadzenSidebar Style="bottom:0px;top:50px" @ref="@sidebar0" @bind-Expanded="@sidebarExpanded">
    <ChildContent>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Icon="settings_input_composite" Text="Adapters" Path="adapters"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Icon="mediation" Text="Nodes" Path="nodes"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>

@code {
    RadzenSidebar sidebar0;
    RadzenBody body0;
    bool sidebarExpanded = true;
    bool bodyExpanded = false;
}